*{
   margin: 0;
   padding: 0;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #F9B205;
}

.card{
    cursor: pointer;
    align-content: center;
    background: none;
    width: 340px;
    height: 454px;
    border-radius: 40px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -227px;
    margin-left: -170px;
}



.front, .back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
    border-radius: 40px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.452);
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.front{
    transform: perspective(600px) rotateY(0deg);
}

.front h1{
    color: white !important;
    text-align: center;
    margin-top: 200px;
    font-weight: bolder;

}

.back{
    transform: perspective(600px) rotateY(180deg);
}

.middle .happy{
    color: white !important;
    text-align: center;
    margin-top: 120px;
    font-weight: bolder;
}

.middle .birthday{
    color: white !important;
    text-align: center;
    margin-top: -10px;
    font-weight: bolder;
}

.down{
    width: 340px;
    height: 100px;
    position: absolute;
    border: none;
    background-color: #F9B205;
    margin-top: 132px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.down .getstarted{
    color: black;
    text-align: center;
    font-size: 25;
    margin-top: 35px;
    font-weight: bold;
}


.down:hover{
    background-color: #d89c03;
}

.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}